<div class="fluid-container">
    <div class="">
    <!--<h3 class="text-center" >BOOTSTRAP CHAT EXAMPLE </h3>-->
        <div class="col-md-2 userbox">
        <div class="panel panel-primary">
            <div class="panel-heading">
                ONLINE USERS 
            </div>
            <div class="panel-body tes">
                <ul class="media-list">                               
                    <li class="media" ng-repeat="user in users">
                        <div class="media-body">
                            <div class="media">
                                <a class="pull-left">
                                <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                </a>
                                <div class="media-body" >
                                <h5>{{user}} | User <span class="fa fa-commenting" style="color:#0099cc"></span> </h5>
                                <small class="text-muted">Active</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 chatbox">
        <div class="panel panel-info">
            <div class="panel-heading">
                GROUP CHAT BOX
            </div>
            <div class="panel-body tes">
                <ul class="media-list">
                    <li class="media" ng-repeat="ch in messages">
                        <div class="media-body">
                            <div class="media">
                                <a class="pull-left">
                                <img class="media-object img-circle " style="max-height:40px;" src="assets/img/user.png" />
                                </a>
                                <div class="media-body" >
                                {{ch.message}}
                                <br />
                                <small class="text-muted">{{ch.username+'  '}}| {{ch.time}}</small>
                                <hr />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <form name="chatform" ng-submit="sendMessage(msgbox);msgbox='';" novalidate>
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" ng-model="msgbox"/>
                        <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">SEND</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    </div>
</div>